nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.preco {
    font-weight: bold;
    color: #e74c3c;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

